@model List<Comment>
<div class="row">
    <div class="container">

        @foreach (var item in Model)
        {
            <ul>
                <li>@item.Comments</li>
            </ul>

        }

    </div>

</div>