@model List<Product>

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("CategoryList")
    </div>
    <div class="col-md-9">
        <h3>Hoşgeldin @ViewBag.User</h3>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="card m-3" style="width: 18rem;">
                        @*<img src="..." class="card-img-top" alt="Resim yok">*@
                        <div class="card-body">
                            <h5 class="card-title">@item.ProductName</h5>
                            <p class="card-text">@item.Price</p>
                            <a asp-action="GetProductWithDetails" asp-route-id="@item.Id" asp-controller="Product" class="btn btn-primary float-right">Details</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

    
</div>
    
                   











