
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HandleErrorCode</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container p-5">
        <p class="text-center alert alert-info mt-3 p-2 lead">
            Hata Mesajı: @ViewBag.ErrorMessage <br />
            Hata Kodu: @ViewBag.Code
        </p>
        <p class="text-center mt-3">
            <a asp-action="Index" asp-controller="Home" class="btn btn-primary text-center">Home</a>
        </p>
    </div>



    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
